
// COLORS
$background-color: teal;
$primary-color: coral;
$secondary-color: white;

//BUTTON
$buttons-font: Impact;
$button-radius: 0.6rem;
$button-font-size: 1.3rem;
$button-clear-font-size: 1rem;
$button-font-family: Verdana, sans-serif;
$button-font-weight: 600;


//TITLE
$title-font-size: 6.3rem;



//INPUT
$input-radius: 0.6rem;
$input-font-size: 1rem;
$input-font-weight: 100;
$input-color: grey;


//PARAGRAF
$paragraf-font-weight: 100;
$paragraf-font-size: 1.8rem;

//COUNTER
$counter-font-weight: 900;


//TASK MESSAGE
$task-message-font-weight: 900;
$task-message-font-size: 2.7rem;