div.container-button-clear-completed{
    padding-left: 400px;
  }
  
div button.button-clear-completed{
    font-family: Impact;
    height: 40px;
    width: 250px;
    font-size: 20px;
    color:white;
    font-weight: 600;
    background-color:coral;
    border-radius: 10px;
  }