@use 'base';

.info-date{
    width: base.$info-date-width;
    color: base.$primary-color;
    font-size: base.$info-date-font-size;
    font-family: base.$button-font-family; 
}

.deadline {
    color: base.$primary-color;
    font-weight: 600;;
    font-size: 2vw;
}