@use 'base';

.container-button-clear-completed{
    // padding-left: 400px;
  }
  
.button-clear-completed{
    font-family: base.$button-font-family;
    height: 40px;
    width: 250px;
    font-size: base.$button-clear-font-size;
    color: base.$secondary-color;
    font-weight: base.$button-font-weight;
    background-color: base.$primary-color;
    border-radius: base.$button-radius;
  } 


